<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" type="image/png" href="static/mine.ico">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>
      <title>Mine-sweeper!</title>
  </head>
  <style>
body {min-height: 100vh; background: teal url(https://assets.codepen.io/15664/bliss.jpg) center / cover no-repeat;}
td {margin-top: 25px; width: 30px; height: 30px; border: 1px solid black; text-align: center; background-color:#DEF2EC; text-align:center;}
td:hover {background-color: #F2ECDE;}
tr { display: block; text-align: center; }
tbody { display: block; margin-top: 25px;}
.flag {cursor: move;}
  </style>
<body>
<h1 align="center">That's minesweeper!</h1>
<table align="center">
    {% for row in range(map|length) %} <tr>
        {% for cell in range(map[row]|length) %}
            <td id = "td-{{row}}.{{cell}}" onclick = check_mine("{{row}}.{{cell}}")
                ondrop=set_flag("td-{{row}}.{{cell}}")>
               <a id = "{{row}}.{{cell}}" style="visibility:hidden">
                   {{ map[row][cell] }}
               </a>
            </td>
        {% endfor %}</tr>
    {% endfor %}
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous">
</script>
<script>
   var counter = 0
   function check_mine(id) {
   let cell = document.getElementById(id);
   cell.style.visibility = "visible"
   counter += 1;
   if (cell.innerText === "*") {
   alert("You lost! Better luck next time :)")
   location.reload();
   }
   else if (counter === 54) {
   alert("Wow! You won!")
   }
   }
</script>
</body>
</html>